{% if solicitudes %}
    {% for solicitud in solicitudes %}
        <div class="card mb-3">
            <div class="card-header bg-light d-flex justify-content-between">
                <div>ID {{ solicitud.numero_solicitud }}</div>
                <div>Fecha Solicitud {{ solicitud.fecha_solicitud|date:"d-m-Y H:i" }}</div>
            </div>

            <div class="card-body">
                <p><strong>Estado: </strong>{{ solicitud.get_estado_display }}</p>

                <p><strong>Usuario: </strong> {{ solicitud.usuario.get_full_name|default:solicitud.usuario.username }}</p>
                <p><strong>Fecha Retiro: </strong> {{ solicitud.fecha_retiro }}</p>
                <p><strong>Fecha Devolución Esperada: </strong> {{ solicitud.fecha_devolucion }}</p>
                <p><strong>Ubicación de uso: </strong> {{ solicitud.ubicacion_solicitud }}</p>  <!-- Aquí -->
                <table class="table table-sm table-bordered mt-2">
                    <thead class="table-light">
                        <tr>
                            <th>Material</th>
                            <th>Cantidad</th>
                            <th>Estado Solicitud</th>
                            <th>Fecha Devolución Real</th>
                            <th>Estado Ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in solicitud.items.all %}
                        <tr>
                            <td>{{ item.material.nom_material }}</td>
                            <td>{{ item.cantidad }}</td>
                            
                            <td>
                                {% if item.rechazado %}
                                    <span class="badge bg-danger">Rechazado</span>
                                {% elif item.aprobado %}
                                    <span class="badge bg-success">Aprobado</span>
                                {% else %}
                                    <span class="badge bg-warning text-dark">Pendiente</span>
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if item.rechazado %}
                                    No Aplica
                                {% else %}
                                    {{ item.fecha_devolucion_real|date:"d-m-Y"|default:"Pendiente" }}
                                {% endif %}
                            </td>


                            <td>
                                {% if item.rechazado %}
                                    No Aplica
                                {% else %}
                                    {{ item.get_estado_ingreso_display|default:"Pendiente" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="text-muted">No hay préstamos en el período indicado.</p>
{% endif %}