srvSIGEM/__pycache__/wsgi.cpython-312.pyc
srvSIGEM/__pycache__/__init__.cpython-312.pyc
srvSIGEM/__pycache__/urls.cpython-312.pyc
srvSIGEM/__pycache__/settings.cpython-312.pyc
appSIGEM/appSIGEM/__pycache__/wsgi.cpython-312.pyc
appSIGEM/appSIGEM/__pycache__/urls.cpython-312.pyc
appSIGEM/appSIGEM/__pycache__/settings.cpython-312.pyc
appSIGEM/appSIGEM/__pycache__/__init__.cpython-312.pyc
# Ignorar todas las migraciones de Django
**/migrations/
# Ignorar todos los archivos __pycache__
**/__pycache__/
