{% extends "base.html" %}
{% load static %}

{% block title %}Perfil de Usuario{% endblock %}
{% block content %}

<style>
  @keyframes slideInCard {
    0% {
      transform: translateX(-40px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-card {
    opacity: 0;
    animation: slideInCard 0.6s ease-out forwards;
  }
</style>

<h1 class="mb-4 text-center text-primary-emphasis fw-bold">Tu Perfil</h1>
<div class="container d-flex justify-content-center align-items-center min-vh-50 mt-4 slide-in-card">
    <div class="card shadow-sm p-4 bg-white rounded-4 border-0" style="max-width: 700px; width: 100%;">

        <div class="row g-4">
            <div class="col-md-4 text-center">
                {% if user.imagen_perfil %}
                    <img src="{{ user.imagen_perfil.url }}" alt="Imagen de perfil" class="img-fluid rounded-circle border shadow-sm" style="width: 150px; height: 150px; object-fit: cover;">
                {% else %}
                    <img src="{% static 'paginas/img/logo.png' %}" alt="Imagen por defecto" class="img-fluid rounded-circle border shadow-sm" style="width: 150px; height: 150px; object-fit: cover;">
                {% endif %}
            </div>

            <div class="col-md-8">
                <h5 class="text-secondary fw-semibold">Nombre:</h5>
                <p class="text-dark">{{ user.first_name }} {{ user.last_name }}</p>

                <h5 class="text-secondary fw-semibold">Correo electrónico:</h5>
                <p class="text-dark">{{ user.email }}</p>

                <h5 class="text-secondary fw-semibold">Rol:</h5>
                <p class="text-dark">
                    {% if user.is_superuser %}
                        Administrador
                    {% else %}
                        Usuario
                    {% endif %}
                </p>

                <div class="text-end mt-4">
                    <a href="{% url 'editar_perfil' %}" class="btn btn-outline-primary">
                        <i class="bi bi-pencil-square"></i> Editar Perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
