{% extends 'base_admin.html' %}

{% block title %}Agregar Tipo de Material{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 text-white">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0 text-center">Agregar Tipo de Material</h4>
            </div>
            <div class="card-body">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
                Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: '{{ message }}',
                confirmButtonText: 'Aceptar'
                });
            {% endfor %}
        });
    </script>
{% endif %}
{% endblock %}



