{% extends 'base_admin.html' %}

{% block title %}agregar-categoria{% endblock %}

{% block content %}
<div class="d-flex justify-content-center min-vh-100 text-white">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0 text-center"> Agregar Categoria</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-arrow-left-circle"></i> Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            Swal.fire({
                icon: 'success',
                title: '¡Éxito!',
                text: '{{ message }}',
                confirmButtonText: 'Aceptar'
            });
        {% endfor %}
    });
</script>
{% endif %}

{% endblock %}