{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-primary-emphasis text-center mb-4">Recuperar contraseña</h3>
      <p class="text-muted text-center">Ingresa tu correo institucional para recibir un enlace de recuperación.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email|add_class:"form-control mb-3" }}
        <button type="submit" class="btn btn-primary w-100">Enviar enlace</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
