{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow border-0 rounded-2">
        <div class="card-body p-4">
    <h1 class="mb-4 text-center fw-bold text-primary-emphasis">Contraseña restablecida!</h1>
    <p class="text-muted">Ahora puedes iniciar sesión con tu nueva contraseña.</p>
    <a href="{% url 'login' %}" class="btn btn-success w-100">Ir al Login</a>
        </div>
      </div>
</div>
</div>

{% endblock %}
