{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="card shadow rounded-4 w-100 p-4" style="max-width: 600px;">
    <h2 class="mb-4 text-center text-primary-emphasis fw-bold">Contraseña restablecida!</h2>
    <p class="text-muted">Ahora puedes iniciar sesión con tu nueva contraseña.</p>
    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Ir al Login</a>
</div>
</div>

{% endblock %}
