{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="card shadow-lg p-5 bg-white rounded-3" style="width: 100%; max-width: 700px;">
        <h2 class="text-center text-primary mb-4">Detalle de la Solicitud</h2>

        <!-- Fila con tres columnas -->
        <div class="row mb-4 text-center">
            <div class="col-md-4">
                <label class="form-label fw-semibold">Fecha:</label>
                <p>{{ solicitud.fecha_solicitud|date:"d/m/Y H:i" }}</p>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-semibold">Estado:</label>
                <p>{{ solicitud.get_estado_display }}</p>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-semibold">Comentario:</label>
                <p>{{ solicitud.comentario_respuesta|default:"-" }}</p>
            </div>
        </div>

        <!-- Items Solicitados -->
        <div class="mb-3">
            <h5 class="fw-semibold mb-3">Items Solicitados:</h5>
            {% if solicitud.items.all %}
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Material</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in solicitud.items.all %}
                        <tr>
                            <td>{{ item.material.nom_material }}</td>
                            <td class="text-center fw-semibold">{{ item.cantidad }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-muted">No hay items en esta solicitud.</p>
            {% endif %}
        </div>


        <div class="text-end mt-4">
            <a href="{% url 'listar_solicitudes' %}" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-circle"></i> Volver a Solicitudes
            </a>
        </div>
    </div>
</div>
{% endblock %}





