{% extends 'base.html' %}
{% block title %}Mi Carrito{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-50">
    <div class="card shadow-lg p-5" style="width: 100%; max-width: 700px;">
        <h2>Mi Carrito</h2>

    {% if carrito.items.all %}
        
        <table class="table">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito.items.all %}
                <tr>
                    <td>{{ item.material.nom_material }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
    <!-- Botón para vaciar el carrito -->
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'vaciar_carrito' %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Vaciar Carrito</a>
            
            <a href="{% url 'crear_solicitud' %}" class="btn btn-primary">Crear Solicitud</a>
        </div>

    </div>
</div>

{% endblock %}
